In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
raw_abalone = pd.read_csv('abalone.data', header=None, names=['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings'])
raw_abalone

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [3]:
ages = raw_abalone['Rings'] * 1.5
raw_abalone.drop('Rings', axis=1, inplace=True)
ages

0       22.5
1       10.5
2       13.5
3       15.0
4       10.5
        ...
4172    16.5
4173    15.0
4174    13.5
4175    15.0
4176    18.0
Name: Rings, Length: 4177, dtype: float64

In [4]:
raw_abalone = raw_abalone.join(pd.get_dummies(raw_abalone['Sex']))
raw_abalone.drop('Sex', axis=1, inplace=True)
raw_abalone

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,F,I,M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,0,0,1
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,0,0,1
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,1,0,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,0,0,1
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,0,1,0
...,...,...,...,...,...,...,...,...,...,...
4172,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,1,0,0
4173,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,0,0,1
4174,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,0,0,1
4175,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,1,0,0
4176,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,0,0,1

In [5]:
abalone_train, abalone_test, age_train, age_test = train_test_split(raw_abalone, ages, test_size=0.2)

In [6]:
from sklearn import linear_model

In [11]:
lin_reg = linear_model.LinearRegression().fit(abalone_train, age_train)
lin_reg.score(abalone_test, age_test)

0.529003712398817

In [12]:
SGD_reg = linear_model.SGDRegressor().fit(abalone_train, age_train)
SGD_reg.score(abalone_test, age_test)

0.5112467472302944

In [13]:
ARD_reg = linear_model.ARDRegression().fit(abalone_train, age_train)
ARD_reg.score(abalone_test, age_test)

0.5291218079161246

In [14]:
bayes_reg = linear_model.BayesianRidge().fit(abalone_train, age_train)
bayes_reg.score(abalone_test, age_test)

0.5289054988651207